@model List<Lab3zadanie.Models.Employee>

@if (Model.Count > 0)
{
    <h1>List of Employees</h1>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Add an Employee</a>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>PESEL</th>
                <th>Position</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.PESEL</td>
                    <td>@item.Position</td>
                    <td>@item.Department</td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-controller="Employee" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-outline-info" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-outline-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-info">No employees to display.</p>
}
